{% extends "layout.html" %}
{% block body_content %}
	<h1>Inventory</h1>
	<div class="form">
		<form method="POST" action="">
			<div class="form-group">
				{% for row in data %}
					{{ form.parent.label }}
					{{ form.parent(value=row[1]) }}
					{% if form.parent.errors %}
						<div class="error">
							{% for error in form.parent.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% endif %}

					{{ form.item.label }}
					{{ form.item(value=row[2]) }}
					{% if form.item.errors %}
						<div class="error">
							{% for error in form.item.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% endif %}

					{{ form.submit }}
					<br>
				{% endfor %}
			</div>
		</form>
	</div>
{% endblock body_content %}